.home-container {
  padding-bottom: 80px;
  background-color: #fff;
}

/* Hero Banner */
.hero {
  height: 60vh;
  background: url('../assets/landing-img.jpg') center/cover;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
  color: white;
  text-align: center;
}

.hero-overlay {
  background: rgba(0, 0, 0, 0.4); /* Darkens image for text readability */
  width: 100%;
  height: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  padding: 20px;
}

.hero h1 {
color: white;
opacity: 0.9;
  font-size: 2.2rem;
  margin-bottom: 10px;
  font-weight: 800;
}

.hero-btn {
  background: #fffffffe;
  color: rgb(41, 36, 36);
  padding: 12px 25px;
  border-radius: 30px;
  text-decoration: none;
  font-weight: bold;
  margin-top: 15px;
  display: inline-block;
  align-self: center;
}

/* Quick Filter Chips */
.quick-filter {
  padding: 20px 15px;
}

.quick-filter h3 {
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.chip-group {
  display: flex;
  gap: 10px;
  overflow-x: auto;
  padding-bottom: 5px;
}

.chip {
  background: #f0f0f0;
  padding: 8px 20px;
  border-radius: 20px;
  font-size: 0.9rem;
  white-space: nowrap;
}

/* Feed Header */
.main-feed {
    padding: 0 15px;
}

.feed-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 15px;
}

.feed-header h2 {
  font-size: 1.3rem;
}

.feed-header a {
  color: #5c5e51;
  text-decoration: none;
  font-size: 0.9rem;
  font-weight: 600;
}
/* Add this to card.css */
.card {
  position: relative; /* Needed for absolute positioning of badge */
}

.trending-badge {
  position: absolute;
  top: 10px;
  left: 10px;
  background: #ff4757;
  color: white;
  padding: 4px 8px;
  border-radius: 4px;
  font-size: 0.7rem;
  font-weight: bold;
  text-transform: uppercase;
  z-index: 2;
}