* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html, body {
    font-family: "BBH Hegarty", system-ui, sans-serif;
    background: #f5f5f5;
    line-height: 1.6;
    height: 100%;
    padding-top: 75px;
    padding-bottom: 75px;  /*Ensures content isn't hidden behind the navbar */
}

@media (max-width: 768px) {
  body {
    padding-top: 20px; /* मोबाईलवर वरची जागा कमी करा */
    padding-bottom: 70px; /* मोबाईलवर तळाला जागा सोडा कारण तिथे नॅव्हबार आहे */
  }
}

.page-wrapper {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
}
